**/bin/
**/obj/
**/node_modules/
apps/server/wwwroot/
apps/web/dist/
.idea/
.vscode/
*.user
*.log
.dotnet/
*.tsbuildinfo
apps/web/vite.config.js
apps/web/vite.config.d.ts
deploy/
.runtime/
output/
screamer/images/*
!screamer/images/README.md
screamer/sounds/*
!screamer/sounds/README.md
AutoHotkey_*_setup.exe
